@import "../../style/common.css";

:root{
    --section-top-margin: 2rem;
}

.Experiance {
    position: relative;
    padding: 1em 0;
    display: flex;  
    flex-direction: row;
}

.Experiance:before {
    width: 0.5rem;
    height: 40%;
    top: 70px;
    position: absolute;
    left: 2.45rem;
    content: ' ';
    display: block;
    /** background: var(--base-colour); **/
    /** background: linear-gradient(to bottom, #ffffff 0px, var(--base-colour) 0%, var(--base-colour) 0%, #ffffff 100%); **/
}

.Experiance--Year {
    background: #fff;
    padding: 1rem;
    font-size: 1.5em;
    font-weight: 700;
    order: 1;
    flex: 1;
}

.Experiance--Description{
    background: #eee;
    margin-bottom: 1rem;
    position: relative;
    padding: 1rem 1rem 0 1rem;
    border-bottom: 1px solid #ddd;
    order: 2;
    flex: 9;
}

.Experiance--Description:after {
    content: '';
    position: absolute;
    top: 1.5rem;
    right: 0;
    left: -1.5rem;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #eee;
    border-width: 1rem;
    pointer-events: none;
}

.Experiance--Description h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.Experiance--Description p {

    margin-top: 0.5rem;
    padding: 0;
}

@media (max-width: 850px) {

    .Experiance {  
        flex-direction: column;
    }

    .Experiance--Year {
        flex: 1;
    }
    
    .Experiance--Description{
        flex: 9;
    }

    
}