.Image {
    width: 33%;
}

.Content {
    display: flex;  
    flex-direction: row;
}

.Description {
    order: 1;
    flex: 2;
}

.Breakdown {
    order: 2;
    flex: 1;
}
  

@media (max-width: 850px) {

    .Content {  
        flex-direction: column;
    }

    .Image {
        width: 100%;
    }

}