@import '../../style/common.css';

:root {
    --header-top: 8rem;
    --header-inverse-top: -7.5rem;
}

.Header {
    text-align: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.Header--Photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #ededed;
    display: inline-block;
    margin-top: -80px;
}

.Header--Photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Text--Header h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.Text-header h1::first-line {
    font-size: 1.5em;
    letter-spacing: -4px;
    font-weight: 800;
    line-height: 1.5em;
}

.Header--Text h1 span {
    color: #F0563D;
}

.Header--Text h1 sup {
    opacity: 0.5;
}

.Header--Text:after {
    width: 100%;
    height: 0.3rem;
    background: #ddd;
    opacity: 0.5;
    margin-top: 1.5rem;
    content: '';
    display: block;
}

.Header--Wave {
    animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
    animation-duration: 1.5s;          /* Change to speed up or slow down */
    animation-iteration-count: infinite;    /* Never stop waving :) */
    transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}